body{
    background-image: url(./movies/background.jpg);
    background-position: center;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;    
}
#connect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 21%;
}
#connect h1{
    color: white;
}
#movies {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 800px;
    width: 1200px;
    overflow: scroll;
}
.movie {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-bottom: 10px;
}

.movie .text {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#create-movie {
    width: 30%;
    margin-bottom: 20px;
    border-radius: 20px;
    align-self: flex-start;
}

#pay-subscription{
    width: 30%;
    margin-bottom: 20px;
    border-radius: 20px;
    align-self: flex-end;

}

.modal-body {
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
}