body{
    background-image: url(./movies/background.jpg);
    background-position: center;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;    
}
#connect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 21%;
}
#connect h1{
    color: white;
}
#movies {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 800px;
    width: 1200px;
    overflow: scroll;
}

.admin {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.admin p {
    margin: 0 5px;
}

.movies-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.movie {
    width: 30%;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-bottom: 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 100px;
    height: 150px;
}

.right {
    width: 100%;
    height: 100%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.right p {
    padding: 5px 0px;
}

.movie .text {
    width: 33.33%;
    text-align: left;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.movie .btn {
    width: 110px;
}

#create-movie {
    width: 30%;
    margin-bottom: 20px;
    border-radius: 20px;
    align-self: flex-start;
}

#pay-subscription{
    width: 30%;
    margin-bottom: 20px;
    border-radius: 20px;
    align-self: flex-end;
}

#logout {
    width: 30%;
    margin-bottom: 20px;
    border-radius: 20px;
    align-self: flex-end;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.movies-button-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#success-msg {
    position: absolute;
    top: 10px;
    right: 10px;
}